<button id="dynamic-button">{{ button_text }}</button>

<script defer src="{{ base_path ~ directory }}/js/script.js"></script>
<link rel="stylesheet" href="{{ base_path ~ directory }}/css/style.css">
