<header class="site-header">
  <div class="container">
    <div class="logo">
      <a href="{{ path('<front>') }}">
        <img src="{{ directory }}/images/logo.png" alt="Logo">
      </a>
    </div>
    <nav class="main-nav">
      {{ menus.primary }}
    </nav>
  </div>
</header>
